<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    thanks for submitting form...
<!--     {% for image in images %}
    <div>
        <img src="{{ image.image.url }}" alt="Image">
        <p>Name: {{ image.name }}</p>
    </div>
{% endfor %} -->
<!-- 
{% if form.instance.image %}
        <h2>Uploaded Image:</h2>
        <img src="{{ form.instance.image.url }}" alt="Uploaded Image">
        <a href="{% url 'submitted_images' %}">View Submitted Images</a>
    {% endif %} -->
</body>
</html>